# backup files
*~
*#
.#*
\#*

# editor file artifacts
.*.sw*
.idea

# installed platform-specific binaries
/bin
.DS_Store
.project
.hmake
/src/vendor/*
!src/vendor/manifest

## golang dlv / build
engine
debug

# log data
logs/
*commit*.txt
*log*.txt

# crypto waste
*.dat
*.pem
*.pub

typescript
